.hautdepage /* selecteur {
                        propriété : valeur ;] */ {
  padding-top: 0px;
  padding-bottom: 80px;
  font-family: Impact, sans-serif;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

img {
  width: 25%;
  display: block;
  margin: auto;
}

.photoaccueil {
  border-radius: 50%;
}

h1 {
  font-size: 65px;
  color: #393937;
  text-align: center;
}

body {
  padding-top: 60px;
  padding-bottom: 70px;
  font-family: "calibri";
}

main {
  padding-bottom: 50px;
  color: black;
  background: white;
}

.pageliens {
  height: 60px;
  width: 100%;
  background-color: white;
  margin: 0px 0px 40px 0px;
}

.linkedin {
  margin-top: 10px;
  margin-left: 460px;
  margin-bottom: 20px;
  float: left;
  width: 5.5%;
}

.instagram {
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 20px;
  float: left;
  width: 6%;
}
.mail {
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 20px;
  float: left;
  width: 6%;
}

.rubriques {
  height: 200px;
  width: 100%;
  background-color: white;
}

/* ---------------------------------------------- Page PILLS ------------------------------*/

h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 100%;
  color: white;
}

.pageprototype {
  height: 650px;
  width: 100%;
  background-color: #014153;
}

.titreprototypage {
  text-align: center;
  font-size: 40px;
  color: #393937;
  font-family: "Montserrat", sans-serif;
  padding-top: 50px;
}

.boxtextepills {
  text-align: left;
  float: left;
  width: 45%;
  background-color: #f6f5f3;
  height: 500px;
  margin: 5% 0% 5% 5%;
}

.texte {
  color: #616161;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.boximagepills {
  text-align: right;
  float: left;
  width: 45%;
  background-color: white;
  height: 500px;
  margin: 5% 0% 5% 0%;
  background-color: white;
  box-shadow: rgba(1, 1, 1);
}

.proto1 {
  margin: 150px 20px 150px 60px;
  float: left;
  width: 21%;
}
.proto2 {
  margin: 150px 20px 150px 20px;
  float: left;
  width: 22%;
}
.proto3 {
  margin: 150px 20px 150px 20px;
  float: left;
  width: 22%;
}

/* -------------------------------------------- Page MVP ---------------------------------------------*/

.pageMVP {
  height: 650px;
  width: 100%;
  background-color: #014153;
}

.titreMVP {
  text-align: center;
  font-size: 40px;
  color: #f6f5f3;
  font-family: "Montserrat", sans-serif;
  padding-top: 50px;
}

.boxtexteMVP {
  text-align: left;
  float: right;
  width: 45%;
  margin: 5% 5% 5% 0%;
  background-color: #272727;
  height: 500px;
}

.textemvp {
  color: #f6f5f3;
  padding-left: 30px;
  padding-top: 35px;
  padding-right: 30px;
}

.boximagesMVP {
  text-align: right;
  float: right;
  width: 45%;
  margin: 5% 0% 5% 5%;
  background-color: white;
  height: 500px;
}

.imageMVP1 {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  margin: 150px 10px 150px 20px;
  width: 20%;
  float: left;
}
.imageMVP2 {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  margin: 150px 10px 150px 10px;
  width: 20%;
  float: left;
}

.imageMVP3 {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  width: 20%;
  margin: 150px 10px 150px 10px;
  float: left;
}
.imageMVP4 {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  margin: 150px 10px 150px 10px;
  width: 20%;
  float: left;
}

/* --------------------------------------------- Persona -----------------------------------------*/

.pagepersona {
  height: 650px;
  width: 100%;
  background-color: #014153;
}

.titrepersona {
  text-align: center;
  font-size: 40px;
  color: #393937;
  font-family: "Montserrat", sans-serif;
  padding-top: 50px;
}

.boxtextepersona {
  text-align: left;
  float: left;
  width: 45%;
  margin: 5% 0% 5% 5%;
  background-color: #f6f5f3;
  height: 500px;
  margin-bottom: 5%;
}

.textepersona {
  color: #616161;
  padding-left: 30px;
  padding-top: 50px;
  padding-right: 50px;
}
.boximagepersona {
  text-align: left;
  float: left;
  width: 45%;
  margin: 5% 0% 5% 0%;
  background-color: white;
  height: 500px;
}

.imagepersona {
  width: 90%;
  margin-top: 75px;
  margin-left: 25px;
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.4);
}

/* ------------------------------------------ page ateliers ----------------------------------------*/

.pageateliersdideation {
  height: 650px;
  width: 100%;
  background-color: #014153;
}

.titreateliers {
  text-align: center;
  font-size: 40px;
  color: #f6f5f3;
  font-family: "Montserrat", sans-serif;
  padding-top: 50px;
}

.boxtexteateliers {
  text-align: left;
  float: right;
  width: 45%;
  margin: 5% 5% 5% 0%;
  background-color: #272727;
  height: 500px;
}

.texteateliers {
  color: #f6f5f3;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 50px;
}

.boximageatelier {
  text-align: left;
  float: right;
  width: 45%;
  margin: 5% 0% 5% 5%;
  background-color: white;
  height: 500px;
}

.imageatelier {
  width: 70%;
  padding-left: 20px;
  padding-top: 50px;
  padding-right: 20px;
}

.flex-container {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: column wrap;
}

/* ------------------- footer --------------------*/

.bouton {
  background: cadetblue;
  color: white;
  padding: 8px 16px;
  font-weight: bold;
  margin: 30px 0px 0px 0px;
}
